* {
  background-color: lightblue;
  padding: 0%;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Segoe UI";
  font-size: 30px;
  margin: 0;
}

.header {
  background-color: rgba(17, 17, 117, 0.671);
  font-size: 6rem;
  text-align: center;
}

main {
  display: flex;
  flex: 1 1 0%;
  /* width: 80%; */
  background-color: rgba(79, 74, 122, 0.281);
}

.content {
  flex: 1;
  background-color: rgba(52, 52, 77, 0.363);
  text-align: center;
  /* min-width: 75%; */
  margin: 0;
  font-size: 4rem;
}

aside {
  flex: 0 0 25%;
}

.sidebar1 {
  background-color: rgba(0, 0, 255, 0.103);
  font-size: 2.5rem;
  text-align: center;
  order: -1;
}

.sidebar2 {
  background-color: rgba(146, 146, 226, 0.733);
  font-size: 2.5rem;
  text-align: center;
  order: 1;
}

.footer {
  font-size: 4rem;
  text-align: center;
  background-color: rgba(89, 89, 170, 0.13);
}

@media all and (max-width: 540px) {
  main {
    flex-direction: column;
  }
}
